<div class="article-card">
  <h3><%= article.title %></h3>
  <div class="article-card_content">
    <%= truncate_rich_text(article.rich_content, 140) %>
    <%=  link_to "[...]", article_path(article) if article.rich_content.body.html_safe.length > 140 %>
  </div>
  <%= link_to article_path(article) do %>
    <button class="btn btn-primary mt-4">Voir détail</button>
  <% end %>
</div>
