<div class="article-card">
  <h3><%= article.title %></h3>
  <p class="article-card_content">
    <%= article.content.first(150) %>
    <%=  link_to "[...]", article_path(article) if article.content.length > 150 %>

  </p>
  <%= link_to article_path(article) do %>
  <button class="btn btn-primary">Voir détail</button>
  <% end %>
</div>
