<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="article-show py-5">
      <h1> <%= @article.title %></h1>
      <p><%= @article.content %></p>
    </div>
 </div>
</div>
