.article-card {
  padding: 1rem 1rem 0;
  transition: all 0.3s;

  .article-card_title {
    color: $primary;
    display: flex;
    justify-content: space-between;
  }

  .article-card_title a {
    color: inherit;
  }

  &_content {
    padding-bottom: 1rem;
  }

  &_content a {
    color: inherit
  }

  &_author {
    padding-bottom: 1rem;
    border-bottom: 1px solid #cacaca;

  }

  &_author > span {
    opacity: 0.6;
    font-style: italic;
  }

}
