.article-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 30px 3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_content {
    flex-grow: 1;
  }

  &_content a {
    color: inherit
  }

}
